[submodule "Dependencies/SyriusCore"]
	path = Dependencies/SyriusCore
	url = https://github.com/SyriusEngine/SyriusCore
[submodule "Dependencies/SRSLCompiler"]
	path = Dependencies/SRSLCompiler
	url = https://github.com/SyriusEngine/SRSLCompiler
[submodule "Dependencies/EasyIni"]
	path = Dependencies/EasyIni
	url = https://github.com/artick788/EasyIni
[submodule "Dependencies/SRSTL"]
	path = Dependencies/SRSTL
	url = https://github.com/SyriusEngine/SRSTL
[submodule "Dependencies/googletest"]
	path = Dependencies/googletest
	url = https://github.com/google/googletest
